/*--------------------------------tag selectors*/

body{
    height: 100%;
    width: 100%;
    font-family: 'Merriweather', serif;
}

h1{
    margin-top: 100px;
    color: #C84B31;
    font-family: 'Montserrat', sans-serif;
}

div{
    margin: 0;
    line-height: 2;
    margin: auto;
    text-align: center;
    width: 100%;
}

/*---------------------------------class selectors*/

.card{
    margin: 100px auto;
}

.contact-logo{
    width: 3%;
    margin: 10px;
    border-radius: 100%;
    transition-duration: 0.8s;
}


/*-----------------------------------id selectors*/
#about-us{
    color: #ECDBBA;
    background-color: #191919;
    padding: 100px;
}

#gallery{
    color: #ECDBBA;
    background-color: #2D4263;
    padding: 100px;
}
#team{
    color: #ECDBBA  ;
    background-color: #191919;
    padding: 100px;
}

#contact-us{
    color: #ECDBBA;
    background-color: #2D4263;
    padding-top: 50px;
}

#mail-icon:hover{
    background-color: #DB4437;
}

#insta-icon:hover{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

#facebook-icon:hover{
    background-color: #4267B2;
}